chatbot nola.json
{
  "name": "chatbot nola",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite-001",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite-001"
        },
        "messages": {
          "values": [
            {
              "content": "\"Você é um atendente virtual.\\n\\n\" +\n\"Base de conhecimento:\\n\" +\nJSON.stringify($json, null, 2) + \"\\n\\n\" +\n\"Pergunta do usuário:\\n\" +\n$('When chat message received').first().json.chatInput + \"\\n\\n\" +\n\"Procure na base a informação relacionada à pergunta do usuário. \" +\n\"Se encontrar, responda somente com a resposta. \" +\n\"Se não encontrar, diga: Não encontrei essa informação na base.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        320,
        -144
      ],
      "id": "90b9d1b6-0b71-4343-9fef-c2e2761f45fd",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "eQpvSeoQe8uUdb8m",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        -144
      ],
      "id": "ad43e962-b947-4fd8-a100-d2060530710e",
      "name": "When chat message received",
      "webhookId": "862fd82d-a786-498e-aee0-003414796c6d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M1PN1_9y562fwETtyqmwVEyKoW8Nrrt737VYtbf_q_c",
          "mode": "list",
          "cachedResultName": "basechatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M1PN1_9y562fwETtyqmwVEyKoW8Nrrt737VYtbf_q_c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M1PN1_9y562fwETtyqmwVEyKoW8Nrrt737VYtbf_q_c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -144
      ],
      "id": "bef88b3e-f2bb-4959-a9e0-ab359a58ae3d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aJFe1eZCsMOMNDh2",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7f14784e-f3aa-401b-b198-4ec4308d010e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7681419e48d347110d9ad6fd61b527cc8c865badcb6d03a488feeaaabd7d3f2a"
  },
  "id": "yHPCK9X1gMCz8mkG",
  "tags": []
}